@import "common";

* {
    margin: 0;
    padding: 0;
}

body {
    @include flex-center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    @include flex-center;
    flex-direction: column;
    width: 27rem;
    height: 99vh;
    background-color: $MAIN_YELLOW;
    border: 4px solid $MAIN_BLACK;

    @media (min-height: 800px) {
        height: 758px;
      }

    .top_wave {
        width: inherit;
        height: 100vh;
    }

    a.main_contents {
        width: 65%;
        height: 100vh;
        text-decoration: none;
    }

    .bottom_wave {
        display: flex;
        width: inherit;
        flex-direction: column-reverse;
        height: 100vh;
    }
}