@import "common";

.wrapper {
    @include flex-center;
    flex-direction: column;
    width: 27rem;
    height: 99vh;
    background-color: $MAIN_YELLOW;
    border: 4px solid $MAIN_BLACK;

    @media (min-height: 800px) {
        height: 758px;
      }
    
    .main {
        width: inherit;
    }


}