@import "common";

.wrapper {
    @include flex-center;
    flex-direction: column;
    width: 27rem;
    height: 99vh;
    background-color: $MAIN_YELLOW;
    border: 4px solid $MAIN_BLACK;

    @media (min-height: 800px) {
        height: 758px;
      }
    
      .quiz_top {
        width: inherit;
        height: 100vh;
      }

      a.quiz_bottom {
        text-decoration: none;
        margin-top: 42px;
        width: 286px;
        height: 100vh;
      }
}